/node_modules
/package-lock.json
/deployment/archive.public/*.js
/deployment/archive.public/*.rng
/deployment/archive.public/*.map
/deployment/archive.public/*.css
/deployment/archive.public/img
/deployment/archive.public/assets
/deployment/archive.public/Neon
/deployment/server/Neon-gh
/dist
.DS_Store
.awcache
.vscode