html
  head
    title Neon2
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
  body
    .navbar.is-light
      .navbar-brand
        a.navbar-item(href="../")
          p Neon2
    script(type="text/javascript").
      var meiFile = "#{meifile}";
      var bgImg = "#{bgimg}";
    script(src="/editor.js")
