html
  head
    title Neon2
    script(src='/pretty.js')
  body
    .navbar.is-light
      .navbar-start
        a.navbar-item(href='../')
          p Neon2
      .navbar-end
        a.navbar-item(href='https://github.com/DDMAL/Neon2/wiki')
          p.has-text-info Help
    .columns
      .column#svg_output.is-two-thirds.box(style={overflow: "hidden"})
      .column.is-one-third
        .panel
          p.panel-heading Controls
          a.panel-block.has-text-centered
            button.button#reset-zoom Zoom
            input.slider.is-fullwidth#zoomSlider(step="5", min="25", max="200", value="100", type="range")
            output#zoomOutput(for="zoomSlider") 100
          a.panel-block.has-text-centered
            button.button#reset-opacity Neume Opacity
            input.slider.is-fullwidth#opacitySlider(step="5", min="0", max="100", value="100", type="range")
            output#opacityOutput(for="opacitySlider") 100
          a.panel-block.has-text-centered
            button.button#reset-bg-opacity Image Opacity
            input.slider.is-fullwidth#bgOpacitySlider(step="5", min="0", max="100", value="100", type="range")
            output#bgOpacityOutput(for="bgOpacitySlider") 100
          a.panel-block
            label.checkbox Display Text: 
              input.checkbox#displayText(type="checkbox")
        #neume_info
          article.message(style={visibility: "hidden"})
            .message-header
              p
              button#notification-delete.delete("aria-label"="delete")
            .message-body
      script(type='text/javascript').
        var meiFile = "#{meifile}";
        var bgImg = "#{bgimg}";
      script(src='/editor.js')
