html
  head
    title Neon2
    block scripts
      // Static Files
      script(src='/js/verovio-toolkit.js', type='text/javascript')
      script(src='/js/jquery.js', type='text/javascript')
      script(src='/js/d3.js', type='text/javascript')
      // Style Sheets
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
      // Source Files
      script(src='/src/Neon.js', type='text/javascript')
      script(src='/src/DragController.js', type='text/javascript')
      script(src='/src/NavbarController.js', type='text/javascript')
      //- script(src='/src/InfoController.js', type='text/javascript')
      //- script(src='/src/ZoomController.js', type='text/javascript')
  body
    .navbar.is-light
      .navbar-brand
        a.navbar-item(href='../')
          p Neon2
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link File
        .navbar-dropdown
          a#getmei.navbar-item(href='') Download MEI
          a#getpng.navbar-item(href='') Download PNG
          a#revert.navbar-item(href='') Revert
    .columns
      .column#svg_output.is-two-thirds
      .column.is-one-third
        .panel
          p.panel-heading Controls
          p.panel-tabs
            a.is-active Insert
            a Edit
          a.panel-block.has-text-centered
            button.button Zoom
            button.button Opacity
        #neume_info
      script(type='text/javascript').
        var neon = new Neon({
          meifile: "#{meifile}"
        });
