<html>
  <head>
    <title>Neon2</title>
    <!-- Static Files-->
    <script src="/js/verovio-toolkit.js" type="text/javascript"></script>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/d3.js" type="text/javascript"></script>
    <!-- Style Sheets-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    <link rel="stylesheet" href="/css/bulma-slider.min.css"/>
    <script src="/js/bulma-slider.min.js" type="text/javascript"></script>
    <!-- Source Files-->
    <script src="/src/Neon.js" type="text/javascript"></script>
    <script src="/src/InfoBox.js" type="text/javascript"></script>
    <script src="/src/ZoomHandler.js" type="text/javascript"></script>
    <script src="/src/Controls.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="navbar is-light">
      <div class="navbar-brand"><a href="../" class="navbar-item">
        <p>Neon2</p></a></div>
    </div>
    <div class="columns">
      <div id="svg_output" style="overflow:hidden" class="column is-two-thirds box"></div>
      <div class="column is-one-third">
        <div class="panel">
          <p class="panel-heading">Controls</p><a class="panel-block has-text-centered">
            <button id="reset-zoom" class="button">Zoom</button>
            <input id="zoomSlider" step="5" min="25" max="200" value="100" type="range" class="slider is-fullwidth"/>
            <output id="zoomOutput" for="zoomSlider">100</output></a><a class="panel-block has-text-centered">
            <button id="reset-opacity" class="button">Neume Opacity</button>
            <input id="opacitySlider" step="5" min="0" max="100" value="100" type="range" class="slider is-fullwidth"/>
            <output id="opacityOutput" for="opacitySlider">100</output></a><a class="panel-block has-text-centered">
            <button id="reset-bg-opacity" class="button">Image Opacity</button>
            <input id="bgOpacitySlider" step="5" min="0" max="100" value="100" type="range" class="slider is-fullwidth"/>
            <output id="bgOpacityOutput" for="bgOpacitySlider">100</output></a><a class="panel-block">
            <label class="checkbox">Display Text:
              <input id="displayText" type="checkbox" class="checkbox"/>
            </label></a>
        </div>
        <div id="neume_info"></div>
      </div>
      <script type="text/javascript">
        var neon = new Neon({
          meifile: "{{ miefile }}",
          bgimg: "{{ bgimg }}"
        });
      </script>
    </div>
  </body>
</html>