html
  head
    title Neon2
    script(src='/pretty.js')
  body
    .navbar.is-light
      .navbar-start
        a.navbar-item(href='../')
          p Neon2
        a.navbar-item
          #dropdown_toggle
            button.button#edit_mode Edit MEI
      .navbar-end
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link Help
          .navbar-dropdown.is-right
            a.navbar-item(href="//github.com/DDMAL/Neon2/wiki/Instructions") User Guide
            a.navbar-item(href="//github.com/DDMAL/Neon2/wiki") Wiki
            a.navbar-item(href="//ddmal.music.mcgill.ca") DDMAL
            a.navbar-item(onclick="hotkeyDialog()") Hotkeys
    .columns
      .column#svg_output.is-two-thirds.box(style={overflow: "hidden"})
      .column.is-one-third
        .panel
          p.panel-heading.has-dropdown#displayHeader Display
            svg.icon.is-pulled-right
              use(id="toggleDisplay" xlink:href="/img/icons.svg#dropdown-up")
          #displayContents
            a.panel-block.has-text-centered
              button.button#reset-zoom Zoom
              input.slider.is-fullwidth#zoomSlider(step="5", min="25", max="400", value="100", type="range")
              output#zoomOutput(for="zoomSlider") 100
            a.panel-block.has-text-centered
              button.button#reset-opacity Neume Opacity
              input.slider.is-fullwidth#opacitySlider(step="5", min="0", max="100", value="100", type="range")
              output#opacityOutput(for="opacitySlider") 100
            a.panel-block.has-text-centered
              button.button#reset-bg-opacity Image Opacity
              input.slider.is-fullwidth#bgOpacitySlider(step="5", min="0", max="100", value="100", type="range")
              output#bgOpacityOutput(for="bgOpacitySlider") 100
            .panel-block
              label.checkbox Display Text:&nbsp;
                input.checkbox#displayText(type="checkbox")
              #highlight-dropdown.dropdown
                .dropdown-trigger
                  button#highlight-button.button(aria-haspopup='true' aria-controls='highlight-menu')
                    span Highlight
                    span#highlight-type &nbsp;- Off
                    svg.icon
                      use(id="toggleDisplay" xlink:href="/img/icons.svg#dropdown-down")
                #highlight-menu.dropdown-menu(role='menu')
                  .dropdown-content
                    a#highlight-staff.dropdown-item Staff
                    a#highlight-syllable.dropdown-item Syllable
                    a#highlight-neume.dropdown-item Neume
                    hr.dropdown-divider
                    a#highlight-none.dropdown-item None
          #insert_controls
          #edit_controls
        #neume_info
          article.message(style={display: "none"})
            .message-header
              p
              button#notification-delete.delete("aria-label"="delete")
            .message-body
        #syl_text.box(style={display: "none"})
      script(type='text/javascript').
        var meiFile = "#{meifile}";
        var bgImg = "#{bgimg}";
        var autosave = ("#{autosave}" == 'true');

        function hotkeyDialog() {
          alert(
            "+ \u{2014} Zoom in\ts \u{2014} Save File\tCtrl-z \u{2014} Undo\n" +
            "\u{2013} \u{2014} Zoom out\th \u{2014} Hide MEI\tCtrl-Z \u{2014} Redo\n" +
            "0 \u{2014} Zoom reset\n1/2/3/4 \u{2014} Select by Syllable/Neume/Neume Component/Staff");
        }
      script(src='/editor.js')
