html
  head
    title Neon2
    block scripts
      // Static Files
      script(src='/js/verovio-toolkit.js', type='text/javascript')
      script(src='/js/jquery.js', type='text/javascript')
      script(src='/js/d3.js', type='text/javascript')
      // Style Sheets
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
      link(rel='stylesheet', href='/css/bulma-slider.min.css')
      script(src='/js/bulma-slider.min.js' type='text/javascript')
      // Source Files
      script(src='/src/Neon.js', type='text/javascript')
      script(src='/src/InfoBox.js', type='text/javascript')
      script(src='/src/ZoomHandler.js', type='text/javascript')
      script(src='/src/Controls.js', type='text/javascript')

  body
    .navbar.is-light
      .navbar-brand
        a.navbar-item(href='../')
          p Neon2
    .columns
      .column#svg_output.is-two-thirds.box(style={overflow: "hidden"})
      .column.is-one-third
        .panel
          p.panel-heading Controls
          a.panel-block.has-text-centered
            button.button#reset-zoom Zoom
            input.slider.is-fullwidth#zoomSlider(step="5", min="25", max="200", value="100", type="range")
            output#zoomOutput(for="zoomSlider") 100
          a.panel-block.has-text-centered
            button.button#reset-opacity Neume Opacity
            input.slider.is-fullwidth#opacitySlider(step="5", min="0", max="100", value="100", type="range")
            output#opacityOutput(for="opacitySlider") 100
          a.panel-block.has-text-centered
            button.button#reset-bg-opacity Image Opacity
            input.slider.is-fullwidth#bgOpacitySlider(step="5", min="0", max="100", value="100", type="range")
            output#bgOpacityOutput(for="bgOpacitySlider") 100
          a.panel-block
            label.checkbox Display Text: 
              input.checkbox#displayText(type="checkbox")
        #neume_info
      script(type='text/javascript').
        var neon = new Neon({
          meifile: "#{meifile}"
        });
