html
  head
    title Neon2
    block scripts
      // Static Files
      script(src='/js/verovio-toolkit.js', type='text/javascript')
      script(src='/js/jquery.js', type='text/javascript')
      script(src='/js/d3.js', type='text/javascript')
      // Source Files
      script(src='/src/Neon.js', type='text/javascript')
      script(src='/src/DragController.js', type='text/javascript')
  body
    #svg_output
      script(type='text/javascript').
        var neon = new Neon();