html(style={height: "100%", overflow: "hidden"})
  head
    title Neon2
    script(src='/pretty.js')
  body(style={"height": "100%", "width": "100%", "overflow": "hidden"})
    nav.navbar.is-light
      .navbar-brand
        a.navbar-item(href='../')
          p Neon2
      .navbar-menu
        .navbar-start
          a.navbar-item
            #dropdown_toggle
              button.button#edit_mode Edit MEI
          a.navbar-item#notification-content(style={display: "none"})
        .navbar-end
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link Help
            .navbar-dropdown.is-right
              a.navbar-item(href="//github.com/DDMAL/Neon2/wiki/Instructions") User Guide
              a.navbar-item(href="//github.com/DDMAL/Neon2/wiki") Wiki
              a.navbar-item(href="//ddmal.music.mcgill.ca") DDMAL
              a.navbar-item(onclick="hotkeyDialog()") Hotkeys
    .columns(style={overflow: "hidden", height: "94%", "margin": "0"})
      .column#svg_output.is-two-thirds.box(style={overflow: "hidden", height: "850px"})
      .column.is-one-third.is-hidden-mobile(style={"overflow-x": "hidden", "overflow-y": "auto"})
        .panel
          p.panel-heading.has-dropdown#displayHeader Display
            svg.icon.is-pulled-right
              use(id="toggleDisplay" xlink:href="/img/icons.svg#dropdown-down")
          #displayContents
            a.panel-block.has-text-centered
              button.button#reset-zoom(style={width: "12em"}) Zoom
              input.slider.is-fullwidth#zoomSlider(step="5", min="25", max="400", value="100", type="range")
              output#zoomOutput(for="zoomSlider") 100
            a.panel-block.has-text-centered
              button.button#reset-opacity Glyph Opacity
              input.slider.is-fullwidth#opacitySlider(step="5", min="0", max="100", value="100", type="range")
              output#opacityOutput(for="opacitySlider") 100
            a.panel-block.has-text-centered
              button.button#reset-bg-opacity Image Opacity
              input.slider.is-fullwidth#bgOpacitySlider(step="5", min="0", max="100", value="100", type="range")
              output#bgOpacityOutput(for="bgOpacitySlider") 100
            .panel-block
              label.checkbox Display Text:&nbsp;
                input.checkbox#displayText(type="checkbox")
              #highlight-dropdown.dropdown
                .dropdown-trigger
                  button#highlight-button.button(aria-haspopup='true' aria-controls='highlight-menu')
                    span Highlight
                    span#highlight-type &nbsp;- Off
                    svg.icon
                      use(id="toggleDisplay" xlink:href="/img/icons.svg#dropdown-down")
                #highlight-menu.dropdown-menu(role='menu')
                  .dropdown-content
                    a#highlight-staff.dropdown-item Staff
                    a#highlight-syllable.dropdown-item Syllable
                    a#highlight-neume.dropdown-item Neume
                    hr.dropdown-divider
                    a#highlight-none.dropdown-item None
          #insert_controls
          #edit_controls
        #neume_info
          article.message(style={display: "none"})
            .message-header
              p
              button#notification-delete.delete("aria-label"="delete")
            .message-body
        #syl_text.box(style={display: "none"})
      script(type='text/javascript').
        var meiFile = "#{meifile}";
        var bgImg = "#{bgimg}";
        var autosave = ("#{autosave}" == 'true');

        function hotkeyDialog() {
          alert(
            "Hotkey : Action\n\n" +
            "+ : Zoom in\t\ts : Save File\t\tCtrl-z or \u{2318}-z : Undo\n" +
            "\u{2013} : Zoom out\t\th : Hide MEI\t\tCtrl-Z or \u{2318}-Z : Redo\n" +
            "0 : Zoom reset\n\n1/2/3/4 : Select by Syllable/Neume/Neume Component/Staff");
        }
      script(src='/editor.js')
