<html>
    <head>
        <title>Neon2</title>

        <!-- Static Files -->
        <script src="js/verovio-toolkit.js" type="text/javascript" ></script>
        <script src="js/jquery.js" type="text/javascript" ></script>  
        <script src="js/d3.js" type="text/javascript" ></script>

        <!-- Source Files -->
        <script src="/src/Neon.js" type="text/javascript"></script>
        <script src="/src/DragController.js" type="text/javascript"></script>
        
    </head>
    <body>
        <div id="svg_output"/>
        
        <script type="text/javascript">
            var neon = new Neon();
        </script>
    </body>
</html>