html
  head
    title Neon2
    block sripts
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')
  body
    section.hero.is-primary.is-bold
    div.hero-body
      div.container
        h1.title
          | Neon2
        p
          | Neon2 is a browser-based score editor used to manipulate digitally encoded early music notation.
        h2.subtitle
        section
            | Score Selection
            ul
                each file in files
                    li
                        a(href='/edit/' + file)= file 
       
        h3.subtitle
        section
          | Score Upload 
          form(action='/upload_file', enctype='multipart/form-data', method='post')
              | select an MEI file to upload: 
              input(type='file', name='resource') 
              | select a PNG file to upload: 
              input(type='file', name='resource')
              input(type='submit', value='Upload')
