html
  head
    title Neon2
  body
    div
      h2
        | Score Selection
        ul
            each file in files
                li
                    a(href='/edit/' + file)= file   
        form(action='/upload_file', enctype='multipart/form-data', method='post')
            | select an MEI file to upload:
            input(type='file', name='resource')
            input(type='file', name='resource')
            input(type='submit', value='Upload')
