<html>
    <head>
        <title>Neon3</title>

        <!-- Static Files -->
        <script src="js/verovio-toolkit.js" type="text/javascript" ></script>
        <script src="js/jquery.js" type="text/javascript" ></script>  
        <script src="js/d3.js" type="text/javascript" ></script>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

        <!-- Source Files -->
        <script src="/src/Neon.js" type="text/javascript"></script>
        <script src="/src/DragController.js" type="text/javascript"></script>
        <script src="/src/InfoController.js" type="text/javascript"></script>
        
    </head>
    <body>
        <div class="columns">
            <div class="column" id="svg_output"></div>
            <div class="column" id="neume_info"></div>
        </div>
        
        <script type="text/javascript">
            var neon = new Neon();
        </script>
    </body>
</html>