* {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color:rgb(0, 0, 69);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

body {
    background-color: rgb(240, 250, 255);
    margin: auto;
    padding: 1rem 4rem;
}

.context_menu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 10rem;
  background-color: rgb(240, 250, 255);
  border: solid 1px rgb(0, 0, 69);
  box-shadow: 1px 1px 2px #c9c9c9;
}

.context_menu_link {
  display: block;
  padding: 4px 12px;
  text-decoration: none;
}

.context_menu_link:hover {
  background-color: rgb(206, 220, 255);
}

#left_col {
  display: block;
  position: absolute;
  width: 30vw;
}

#right_col {
  min-width: 30rem;
  width: 50vw;
  position: absolute;
  left: 40vw;
}

#title_heading {
    display: inline-block;  
    font-size: 8rem;
    font-weight: 500;
}

#dropdown_label {
  font-size: larger;
  margin-bottom: 0.2rem;
  font-weight: 300;
}

#select_documents_container {
  display: block;
  width: 24vw;
  min-width: 25rem;
  padding-bottom: 2rem;
}

#documents_dropdown {
  width: inherit;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: smaller;
}

.faded {
  font-weight: 300;
  color: rgb(120, 120, 120);
}

#open_documents {
  width: inherit;
  height: 3rem;
  font-size: medium;
  font-weight: 300;
  border-width: thin;
  border-radius: 0.5em;
  margin-bottom: 0.3rem;
}

#delete_documents {
  width: inherit;
  height: 1.5rem;
  font-size: 15px;
  font-weight: 300;
  border-radius: 0.3rem;
  border-width: thin;
}

#open_documents:hover, #delete_documents:hover {
  cursor:pointer;
  background-color: rgb(206, 220, 255);
}

#initial_upload_area {
  border: 0.1rem dashed;
  border-radius: 0.5rem;
  width: 24vw;
  height: 13rem;
  line-height: 13rem;
  text-align: center;
}

#initial_upload_area:hover, .over {
    cursor:pointer;
    background-color: rgb(206, 220, 255);
    /* box-shadow: 5px 5px rgb(191, 117, 255); */
    /* transform: translate(-5px, -2px) */
}

#uploading_container {
  display: none;
  margin-top: 12.2rem;
}

.file_container {
  border: 0.1rem solid;
  border-radius: 0.5rem;
}

#unpaired_container {
  min-height: 22rem;
}

#mei_container, #image_container {
  width: 50%;
}

#mei_list, #image_list {
  min-height: 15rem;
  border-bottom: 0.1rem solid;
}

#files_container {
  display: flex;
  flex-direction: row;
}

.file_heading {
  line-height: 0;
  padding: 0.5rem 1rem;
}

.file_list {
  border-top: 0.1rem solid;
  min-height: 2rem;
  padding: 0.5rem;
}

#image_container {
  border-left: 0.1rem solid;
}

.action_button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

#upload_button_container {
  float: right;
}
