.container {
    display: flex;
}

.item {
    order: 1;
}

.smallel {
    width: 42px;
    height: 42px;
}

.longel {
    width: 100px;
    height: 42px;
}

.tallel {
    width: 42px;
    height: 80px;
}

.button.is-active {
    background-color: whitesmoke;
}

button:focus {
    outline:0;
}

.scrollable-dropdown {
    height: 9em;
    overflow: auto;
}

span.neon-notification {
    padding: 0.5rem;
    margin: 0 0.25rem 0;
    background-color: whitesmoke;
    border: 0.05rem solid;
    border-radius: 1rem;
}
