html
  head
    title Neon
    script(src='//d3js.org/d3.v5.min.js')
    script(src='//unpkg.com/bulma-slider@2.0.0/dist/js/bulma-slider.min.js')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css')
    link(rel='stylesheet' href='//unpkg.com/bulma-slider@2.0.0/dist/css/bulma-slider.min.css')
    link(rel='stylesheet' href='/Neon/assets/style.css')
  body
      script(type='text/javascript').
        var manifestText = decodeURIComponent("#{manifest}");        
      script(src='/Neon/editor.js')
