html
  block head
    title= statusCode
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
  block body
    section.hero.is-info
      .hero-body
        .container
          h1.title= statusCode
            h2.subtitle= message
