doctype html
html
    head
        title Neon
        link(rel='icon', type='image/x-icon', href='favicon.ico')
        link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
        style
            include ./styles/landing.css
        script(defer=true, type='text/javascript', src='/scripts/landing.js')

    body
        .heading Neon
        include includes/salzines_sample.pug
        
        //- ul
        //-     - for( var i = 0; i < files.length; i++ )
        //-         li
        //-             = files[i]

        //- // ---- JUST TO UPLOAD FOR NOW-------
        //- section.container
        //-     h3.subtitle
        //-     | Single Upload:
        //-     form(action='/upload_file', enctype='multipart/form-data', method='post')
        //-         | select an MEI file to upload:
        //-         input(type='file', name='resource')
        //-         br
        //-         | select a PNG file to upload:
        //-         input(type='file', accept='image/png', name='resource')
        //-         br
        //-         input(type='submit', value='Upload')
        //- // ---------------------- *delete*

        br
        br
        br

        #initial_upload_container 
            #initial_upload_area(class='drop_area', onclick='handleUploadInitial()')
                span#initial_upload_message Upload Files

        #files_unmatched
            #mei_files_container 

            #png_files_container 

            #iiif_files_container

        #files_matched
            #folios_container 

            #manuscripts_container 

            #upload_button(onclick='')

        #message_container

        

