doctype html
html
    head
        title Neon
        link(rel='icon', type='image/x-icon', href='favicon.ico')
        link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
        style
            include ./styles/landing.css
        script(defer=true, type='text/javascript', src='/Neon/landing.js')

    body
      #left_col
        #title_heading Neon 

        //- // ---- JUST TO UPLOAD FOR NOW-------
        //- section.container
        //-   | select an MEI file to upload:
        //-   input(type='file', name='mei', id='mei_upload')
        //-   br
        //-   | select a PNG file to upload:
        //-   input(type='file', accept='image/png', name='image', id='image_upload')
        //-   br
        //-   button(type='button', id='test_upload') Upload
        //- // ---------------------- *delete*
        br
        br
        #select_documents_container
          #dropdown_label Uploaded Documents
          select#documents_dropdown(name='Uploaded Documents', multiple, size='15')
            optgroup#uploaded_folios(class='faded', label='Folios:')
            optgroup#uploaded_manuscripts(class='faded', label='Manuscript:')
          button#open_documents Open Documents
          button#delete_documents Delete Documents
        br
        #initial_upload_container 

      #right_col
        #uploading_container 
          #unpaired_container(class='file_container')
            #files_container
              #mei_container
                h2(class='file_heading') MEI 
                #mei_list(class='file_list')
              #image_container
                h2(class='file_heading') Images
                #image_list(class='file_list')
            button#make_pair(class='action_button') Make Pair
          br
          #paired_container(class='file_container')
            h2(class='file_heading') Paired Folios
            #paired_list(class='file_list')
          br
          #manuscripts_container(class='file_container')
            h2(class='file_heading') Manuscripts
            #manuscript_list(class='file_list')  
          br
          #upload_button_container
            button#upload_button(class='action_button') Upload

      nav#context_menu(class='context_menu')
        a.context_menu_link(href='#', data_action='')
          Lorem Ipsum
              
